Source: pyqtlauncher
Section: unknown
Priority: extra
Maintainer: Mike Carifio <mike@carifio.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/pyqtlauncher.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pyqtlauncher.git;a=summary

Package: pyqtlauncher
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
